<!--  ======================= Sidebar================================ -->
<div class="col-lg-4 col-md-7 col-11 justify-content m-lg-0 m-auto">
    <aside class="sidebar">
        <div class="category">
            <h2>Category</h2>
            <ul class="category-list">
                <li class="list-items">
                    <a href="">Technology</a>
                    <span>(10)</span>
                </li>
                <li class="list-items">
                    <a href="">AI</a>
                    <span>(10)</span>
                </li>
                <li class="list-items">
                    <a href="">Travel & Adventure</a>
                    <span>(05)</span>
                </li>
                <li class="list-items">
                    <a href="">Lifestyle</a>
                    <span>(04)</span>
                </li>
                <li class="list-items">
                    <a href="">Covid-19</a>
                    <span>(04)</span>
                </li>
                <li class="list-items">
                    <a href="">Food</a>
                    <span>(03)</span>
                </li>
            </ul>
        </div>
        <div class="popular-post">
            <h2>Exclusive Post</h2>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                <div class="post-image">
                    <div>
                        <img src="https://source.unsplash.com/200x200/?love" class="img" alt="blog1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                            2019</span>
                        <span>2 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="">New rules to avoid road accidents for young rider</a>

                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                <div class="post-image">
                    <div>
                        <img src="https://source.unsplash.com/200x200/?funny" class="img" alt="blog1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                            2019</span>
                        <span>2 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="">New rules to avoid road accidents for young rider</a>

                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                <div class="post-image">
                    <div>
                        <img src="https://source.unsplash.com/200x200/?car" class="img" alt="blog1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                            2019</span>
                        <span>2 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="">New rules to avoid road accidents for young rider</a>

                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                <div class="post-image">
                    <div>
                        <img src="https://source.unsplash.com/200x200/?pet" class="img" alt="blog1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                            2019</span>
                        <span>2 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="">New rules to avoid road accidents for young rider</a>

                </div>
            </div>
            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                <div class="post-image">
                    <div>
                        <img src="https://source.unsplash.com/200x200/?AI" class="img" alt="blog1">
                    </div>
                    <div class="post-info flex-row">
                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                            2019</span>
                        <span>2 Commets</span>
                    </div>
                </div>
                <div class="post-title">
                    <a href="">New rules to avoid road accidents for young rider</a>
                </div>
            </div>
            <div class="newsletter">
                <h2>Newsletter</h2>
                <div class="form-element">
                    <input type="text" class="input-element" placeholder="Email">
                    <button class="btn form-btn">Subscribe</button>
                </div>
            </div>
            <div class="popular-tags">
                <h2>Popular Tags</h2>
                <div class="tags flex-row">
                    <span class="tag">Technology</span>
                    <span class="tag">Artificial Intelligence</span>
                    <span class="tag">travel</span>
                    <span class="tag">Lifestyle</span>
                    <span class="tag">food</span>
                    <span class="tag">data science</span>
                    <span class="tag">python</span>
                    <span class="tag">trekking in nepal</span>
                    <span class="tag">pet</span>
                </div>
            </div>
        </div>
    </aside>
</div>
</div>
</div>
</div>
</div>
</div>