{% extends 'base.html' %}
{% load static %}


{% block content %}
<!--  ======================= Body Area================================ -->
<h3 class="mb-3">Post by {{ view.kwargs.username }}({{ page_obj.paginator.count }})</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-11 col-11 mx-auto my-5">
            <div class="row gx-5 mx-sm-auto">
                <div class="col-lg-8 col-md-11 col-11 mx-auto">
                    <div class="row gy-5">
                        <!---------posthere-------->
                        {% for post in posts %}
                        <div class="col-12 card p-4 shadow blog_left__div">
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                            <a href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                            <div class="d-flex  justify-content-center align-items-center flex-column pt-3 pb-5">
                                <h2><a class="main_heading_para"
                                        href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                                <div class="post-info flex-row">
                                    <span><i
                                            class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;{{ post.publish|date:"F d, Y" }}
                                        by {{ post.author }}</span>
                                </div>
                                <figure class="right_side_img mb-10">
                                    <img src="https://source.unsplash.com/1000x500/?Adventure, food, Technology"
                                        class="img-fluid shadow" alt="">
                                </figure>
                            </div>
                            {{ post.body|truncatewords:30|linebreaks }}
                            <div class="d-flex justify-content-between left_div_btns">
                                <div>
                                    <button class="left_div__like" id="like_btn">
                                        <i class="far fa-heart"></i> Like
                                    </button>
                                </div>
                                <div>
                                    <button class="left_div__reply" onclick="reply('reply1')">
                                        Comments <badge class="bg-white text-dark p-2">1</badge>
                                    </button>
                                </div>
                            </div>
                            <div class="replies" id="Reply1">
                                <div class="d-flex justify-content-start flex-row align-items-center
                                        card reply_card py-3">
                                    <div class="reply_img mx-2 align-items-center">
                                        <img src="https://img.icons8.com/material-rounded/35/writer-male.png" alt="">
                                    </div>
                                    <div class="reply_text__left">
                                        <p class="blog_title">
                                            <span class="font-weight-bold">Anjan</span>
                                        </p>
                                        <p>Awesome Comments</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% if is_paginated %}

                        {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                        <a class="btn btn-outline-info mb-4"
                            href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                        {% endif %}

                        {% endif %}
                    </div>
                </div>
                <!--  ======================= Sidebar================================ -->
                <div class="col-lg-4 col-md-7 col-11 justify-content m-lg-0 m-auto">
                    <aside class="sidebar">
                        <div class="category">
                            <h2>Category</h2>
                            <ul class="category-list">
                                <li class="list-items">
                                    <a href="">Technology</a>
                                    <span>(10)</span>
                                </li>
                                <li class="list-items">
                                    <a href="">AI</a>
                                    <span>(10)</span>
                                </li>
                                <li class="list-items">
                                    <a href="">Travel & Adventure</a>
                                    <span>(05)</span>
                                </li>
                                <li class="list-items">
                                    <a href="">Lifestyle</a>
                                    <span>(04)</span>
                                </li>
                                <li class="list-items">
                                    <a href="">Covid-19</a>
                                    <span>(04)</span>
                                </li>
                                <li class="list-items">
                                    <a href="">Food</a>
                                    <span>(03)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="popular-post">
                            <h2>Exclusive Post</h2>
                            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                                <div class="post-image">
                                    <div>
                                        <img src="https://source.unsplash.com/200x200/?love" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="">New rules to avoid road accidents for young rider</a>

                                </div>
                            </div>
                            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                                <div class="post-image">
                                    <div>
                                        <img src="https://source.unsplash.com/200x200/?funny" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="">New rules to avoid road accidents for young rider</a>

                                </div>
                            </div>
                            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                                <div class="post-image">
                                    <div>
                                        <img src="https://source.unsplash.com/200x200/?car" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="">New rules to avoid road accidents for young rider</a>

                                </div>
                            </div>
                            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                                <div class="post-image">
                                    <div>
                                        <img src="https://source.unsplash.com/200x200/?pet" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="">New rules to avoid road accidents for young rider</a>

                                </div>
                            </div>
                            <div class="post-content" data-aos="zoom-in" data-aos-delay="200x200">
                                <div class="post-image">
                                    <div>
                                        <img src="https://source.unsplash.com/200x200/?AI" class="img" alt="blog1">
                                    </div>
                                    <div class="post-info flex-row">
                                        <span><i class="fas fa-calendar-alt text-gray"></i>&nbsp;&nbsp;January 14,
                                            2019</span>
                                        <span>2 Commets</span>
                                    </div>
                                </div>
                                <div class="post-title">
                                    <a href="">New rules to avoid road accidents for young rider</a>
                                </div>
                            </div>
                            <div class="newsletter">
                                <h2>Newsletter</h2>
                                <div class="form-element">
                                    <input type="text" class="input-element" placeholder="Email">
                                    <button class="btn form-btn">Subscribe</button>
                                </div>
                            </div>
                            <div class="popular-tags">
                                <h2>Popular Tags</h2>
                                <div class="tags flex-row">
                                    <span class="tag">Technology</span>
                                    <span class="tag">Artificial Intelligence</span>
                                    <span class="tag">travel</span>
                                    <span class="tag">Lifestyle</span>
                                    <span class="tag">food</span>
                                    <span class="tag">data science</span>
                                    <span class="tag">python</span>
                                    <span class="tag">trekking in nepal</span>
                                    <span class="tag">pet</span>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}